body {
    margin: 0;
}

/* ---------------------------------
    ---------------------------------
    HEADER
    ---------------------------------
    ---------------------------------
*/

header {
    background-color: #190A01;
    color: #fff;
    padding: 1rem;
    text-align: center;
    position: relative;
}

header nav ul {
    display: flex;
    justify-content: flex-end;
    list-style: none;
    gap: 5vw;
    padding-right: 3vw;
}

header nav ul li a {
    font-family: "JetBrains Mono", monospace;
    color: #fff;
    text-decoration: none;
}

header img {
    position: absolute;
    height: 70%;
    top: 0;
    left: 2vw;
    transform: translateY(20%);
}

/* ---------------------------------
    ---------------------------------
    HERO
    ---------------------------------
    ---------------------------------
*/

.hero {
    height: 60vh;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 5vw;
}

.hero img {
    position: absolute;
    width: 100%;
    object-fit: cover;
    height: 100%;
    z-index: -1;
    left: 0;
}

.hero h1 {
    margin: 0;
    font-family: "JetBrains Mono", monospace;
    color: #fff;
    font-size: 3rem;
    z-index: 1;
    position: relative;
}

.hero h1::after {
    content: "";
    display: block;
    width: 10vw;
    height: 20px;
    background-color: #7F3406;
    border-radius: 20px;
    position: absolute;
    top: 32%;
    left: 2%;
    z-index: -1;
}

.hero h2 {
    margin-top: 0.5vh;
    font-family: "JetBrains Mono", monospace;
    color: #fff;
    font-size: 3rem;
    position: relative;
    z-index: 1;
}

.hero h2::after {
    content: "";
    display: block;
    width: 37vw;
    height: 20px;
    background-color: #7F3406;
    border-radius: 20px;
    position: absolute;
    top: 35%;
    left: -1%;
    z-index: -1;
}

.hero p {
    font-family: "JetBrains Mono", monospace;
    color: #fff;
    font-size: 1.3rem;
}

/* ---------------------------------
    ---------------------------------
    INTRO
    ---------------------------------
    ---------------------------------
*/

.introduction {
    display: flex;
    justify-content: center;
    gap: 15vw;
    margin-top: 10vh;
    height: 40vh;
}

.introduction p {
    width: 30vw;
    font-family: "Istok Web", sans-serif;
    font-weight: 400;
    font-style: normal;
    align-self: center;
}


/* ---------------------------------
    ---------------------------------
    PROJETS
    ---------------------------------
    ---------------------------------
*/

.home_projets {
    margin-top: 17vh;
    background-color: #190A01;
    position: relative;
}

.home_projets h2 {
    text-align: center;
    margin-top: 0;
    font-family: "JetBrains Mono", monospace;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -78%);
    z-index: 2;
}

.home_projets div {
    display: flex;
    justify-content: space-between;
}

.home_projets article {
    width: calc(98vw / 3);
    height: 70vh;
    padding-bottom: 10vh;
    position: relative;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}

.home_projets article h3, .home_projets article h4 {
    font-family: "Istok Web", sans-serif;
    margin: 0;
}

#proj1 {
    background-image: url("../medias/Animals\ for\ Ludum.jpg");
}

#proj2 {
    background-image: url("../medias/Animals\ for\ Ludum.jpg");
}

#proj3 {
    background-image: url("../medias/Animals\ for\ Ludum.jpg");
}

/* ---------------------------------
    ---------------------------------
    ENTREPRISE
    ---------------------------------
    ---------------------------------
*/

.home_entreprise {
    margin-top: 10vh;
    display: flex;
    justify-content: center;
    gap: 10vw;
}

.home_entreprise img {
    width: 30vw;
}

.home_entreprise div {
    display: flex;
    flex-direction: column;
    font-family: "Istok Web", sans-serif;
    width: 30vw;
    align-self: center;
}

.home_entreprise a {
    color: #000;
    text-decoration: none;
    font-weight: 700;
    font-size: 1.2rem;
}

.home_entreprise div.bouton_contact {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1vw;
    margin-top: 3vh;
}

/* ---------------------------------
    ---------------------------------
    VALEURS
    ---------------------------------
    ---------------------------------
*/

.valeurs {
    background-color: #272727;
    font-family: "JetBrains Mono", monospace;
    color: #fff;
    margin-top: 10vh;
    padding-bottom: 5vh;
}

.valeurs h2 {
    font-weight: 800;
    text-align: center;
    padding-top: 4vh;
    font-size: 2rem;
}

.valeurs h2::after {
    content: "";
    display: block;
    width: 50vw;
    height: 4px;
    background-color: #E55E0A;
    margin: 1vh auto;
}

.valeurs .ligne1, .valeurs .ligne2 {
    display: flex;
    justify-content: space-evenly;
    gap: 10vw;
    margin-top: 10vh;
}

.valeurs .ligne2 {
    margin-top: 20vh;
}

.valeurs article {
    display: flex;
    gap: 1.5vw;
}

.valeurs #colab {
    transform: translateX(-8%);
}


/* ---------------------------------
    ---------------------------------
    FOOTER
    ---------------------------------
    ---------------------------------
*/

footer {
    background-color: #190A01;
    color: #fff;
    padding: 1rem;
    position: relative;
    display: flex;
    justify-content: space-between;
    font-family: "JetBrains Mono", monospace;
    padding-right: 3vw;
}

footer img {
    height: 10%;
    width: 5%;
}