body {
    margin: 0;
}

/* ---------------------------------
    ---------------------------------
    HEADER
    ---------------------------------
    ---------------------------------
*/

header {
    background-color: #190A01;
    color: #fff;
    padding: 1rem;
    text-align: center;
    position: relative;
}

header nav ul {
    display: flex;
    justify-content: flex-end;
    list-style: none;
    gap: 5vw;
    padding-right: 3vw;
}

header nav ul li a {
    font-family: "JetBrains Mono", monospace;
    color: #fff;
    text-decoration: none;
    font-size: 1.1rem;
}

header nav ul li a::after {
    content: "";
    display: block;
    width: 0;
    height: 2px;
    background-color: #E55E0A;
    transition: width 0.3s;
}

header nav ul li a:hover::after {
    width: 100%;
}

header img {
    position: absolute;
    height: 70%;
    top: 0;
    left: 2vw;
    transform: translateY(20%);
}

h1 {
    font-family: "JetBrains Mono", monospace;
    font-size: 2rem;
    margin-top: 6vh;
    text-align: center;
    margin-bottom: 3vh;
}

/* ---------------------------------
    ---------------------------------
    MEMBRES DE L'EQUIPE
    ---------------------------------
    ---------------------------------
*/

.clickeurs {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 3rem;
    row-gap: 10vh;
}

.clickeurs article {
    width: calc(70% / 3);
    position: relative;
}

.clickeurs article img {
    width: 100%;
    position: relative;
    z-index: -1;
}

.clickeurs article.dev::before {
    content: url('data:image/svg+xml,<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M3.20006 14.222V4C3.20006 3.46957 3.41077 2.96086 3.78585 2.58579C4.16092 2.21071 4.66963 2 5.20006 2H18.8001C19.3305 2 19.8392 2.21071 20.2143 2.58579C20.5893 2.96086 20.8001 3.46957 20.8001 4V14.222M3.20006 14.222H20.8001M3.20006 14.222L1.72006 19.456C1.636 19.7534 1.622 20.0662 1.67916 20.3699C1.73631 20.6736 1.86307 20.9599 2.04948 21.2064C2.23589 21.4529 2.47689 21.6528 2.75355 21.7905C3.03022 21.9282 3.33502 21.9999 3.64406 22H20.3561C20.6651 21.9999 20.9699 21.9282 21.2466 21.7905C21.5232 21.6528 21.7642 21.4529 21.9506 21.2064C22.137 20.9599 22.2638 20.6736 22.321 20.3699C22.3781 20.0662 22.3641 19.7534 22.2801 19.456L20.8001 14.222" stroke="white" stroke-width="1.5"/><path d="M11 19H13M14 6L16 8L14 10M10 6L8 8L10 10" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/></svg>');
    background-color: #7F3406;
    width: 10%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    padding: 0.5em;
    border-bottom-right-radius: 20px;
}

.clickeurs article.com::before {
    content: url('data:image/svg+xml,<svg width="26" height="26" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M8 3.50001C6.91256 3.50024 5.84958 3.82283 4.94542 4.427C4.04126 5.03118 3.33649 5.88982 2.92018 6.89443C2.50387 7.89903 2.39471 9.00449 2.60648 10.0711C2.81826 11.1377 3.34148 12.1177 4.11 12.887C4.25057 13.0278 4.32943 13.2187 4.32924 13.4177C4.32906 13.6167 4.24983 13.8074 4.109 13.948C3.96817 14.0886 3.77727 14.1674 3.5783 14.1672C3.37932 14.1671 3.18857 14.0878 3.048 13.947C2.06967 12.9678 1.40362 11.7205 1.13404 10.3628C0.86446 9.00511 1.00346 7.59797 1.53346 6.31926C2.06346 5.04054 2.96067 3.94767 4.11167 3.17878C5.26268 2.40989 6.61581 1.99951 8 1.99951C9.3842 1.99951 10.7373 2.40989 11.8883 3.17878C13.0393 3.94767 13.9365 5.04054 14.4665 6.31926C14.9966 7.59797 15.1355 9.00511 14.866 10.3628C14.5964 11.7205 13.9303 12.9678 12.952 13.947C12.8829 14.0187 12.8001 14.0758 12.7086 14.1152C12.6172 14.1545 12.5187 14.1753 12.4192 14.1762C12.3196 14.1771 12.2208 14.1582 12.1286 14.1205C12.0364 14.0828 11.9527 14.0272 11.8822 13.9568C11.8118 13.8864 11.756 13.8027 11.7183 13.7106C11.6805 13.6184 11.6615 13.5196 11.6623 13.4201C11.6631 13.3205 11.6838 13.2221 11.723 13.1305C11.7623 13.039 11.8194 12.9562 11.891 12.887C12.6596 12.1176 13.1828 11.1376 13.3946 10.0709C13.6063 9.00416 13.4971 7.89861 13.0806 6.89396C12.6642 5.88932 11.9593 5.03069 11.055 4.42659C10.1506 3.82249 9.08753 3.50004 8 3.50001ZM8 7.50001C7.60218 7.50001 7.22065 7.65804 6.93934 7.93935C6.65804 8.22065 6.5 8.60218 6.5 9.00001C6.5 9.39783 6.65804 9.77936 6.93934 10.0607C7.22065 10.342 7.60218 10.5 8 10.5C8.39783 10.5 8.77936 10.342 9.06066 10.0607C9.34197 9.77936 9.5 9.39783 9.5 9.00001C9.5 8.60218 9.34197 8.22065 9.06066 7.93935C8.77936 7.65804 8.39783 7.50001 8 7.50001ZM5.25 9.00001C5.24999 8.54785 5.36147 8.10266 5.57456 7.70387C5.78766 7.30508 6.0958 6.96498 6.4717 6.7137C6.8476 6.46242 7.27967 6.3077 7.72963 6.26324C8.1796 6.21879 8.63358 6.28597 9.05139 6.45884C9.4692 6.63171 9.83793 6.90493 10.1249 7.25432C10.412 7.6037 10.6084 8.01847 10.6969 8.46188C10.7853 8.9053 10.7631 9.36369 10.6321 9.79647C10.5011 10.2292 10.2655 10.623 9.946 10.943C9.80544 11.0838 9.72658 11.2747 9.72676 11.4737C9.72695 11.6727 9.80617 11.8634 9.947 12.004C10.0878 12.1446 10.2787 12.2234 10.4777 12.2232C10.6767 12.2231 10.8674 12.1438 11.008 12.003C11.6017 11.4084 12.0059 10.6511 12.1693 9.82684C12.3328 9.0026 12.2482 8.1484 11.9264 7.37219C11.6045 6.59599 11.0598 5.93261 10.361 5.4659C9.66223 4.99919 8.8408 4.7501 8.0005 4.7501C7.16021 4.7501 6.33877 4.99919 5.64001 5.4659C4.94124 5.93261 4.3965 6.59599 4.07464 7.37219C3.75277 8.1484 3.66823 9.0026 3.83169 9.82684C3.99515 10.6511 4.39928 11.4084 4.993 12.003C5.06167 12.0767 5.14447 12.1358 5.23646 12.1768C5.32846 12.2178 5.42778 12.2398 5.52848 12.2416C5.62918 12.2434 5.72921 12.2248 5.8226 12.1871C5.91599 12.1494 6.00082 12.0933 6.07204 12.022C6.14326 11.9508 6.1994 11.866 6.23713 11.7726C6.27485 11.6792 6.29337 11.5792 6.29159 11.4785C6.28982 11.3778 6.26778 11.2785 6.22678 11.1865C6.18579 11.0945 6.12669 11.0117 6.053 10.943C5.79783 10.688 5.59553 10.385 5.45773 10.0516C5.31993 9.71815 5.24934 9.36079 5.25 9.00001Z" fill="white"/></svg>');
    background-color: #7F3406;
    width: 10%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    padding: 0.5em;
    border-bottom-right-radius: 20px;
}

.clickeurs article.art::before {
    content: url('data:image/svg+xml,<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M17.5 12C17.1022 12 16.7206 11.842 16.4393 11.5607C16.158 11.2794 16 10.8978 16 10.5C16 10.1022 16.158 9.72064 16.4393 9.43934C16.7206 9.15804 17.1022 9 17.5 9C17.8978 9 18.2794 9.15804 18.5607 9.43934C18.842 9.72064 19 10.1022 19 10.5C19 10.8978 18.842 11.2794 18.5607 11.5607C18.2794 11.842 17.8978 12 17.5 12ZM14.5 8C14.1022 8 13.7206 7.84196 13.4393 7.56066C13.158 7.27936 13 6.89782 13 6.5C13 6.10218 13.158 5.72064 13.4393 5.43934C13.7206 5.15804 14.1022 5 14.5 5C14.8978 5 15.2794 5.15804 15.5607 5.43934C15.842 5.72064 16 6.10218 16 6.5C16 6.89782 15.842 7.27936 15.5607 7.56066C15.2794 7.84196 14.8978 8 14.5 8ZM9.5 8C9.10218 8 8.72064 7.84196 8.43934 7.56066C8.15804 7.27936 8 6.89782 8 6.5C8 6.10218 8.15804 5.72064 8.43934 5.43934C8.72064 5.15804 9.10218 5 9.5 5C9.89782 5 10.2794 5.15804 10.5607 5.43934C10.842 5.72064 11 6.10218 11 6.5C11 6.89782 10.842 7.27936 10.5607 7.56066C10.2794 7.84196 9.89782 8 9.5 8ZM6.5 12C6.10218 12 5.72064 11.842 5.43934 11.5607C5.15804 11.2794 5 10.8978 5 10.5C5 10.1022 5.15804 9.72064 5.43934 9.43934C5.72064 9.15804 6.10218 9 6.5 9C6.89782 9 7.27936 9.15804 7.56066 9.43934C7.84196 9.72064 8 10.1022 8 10.5C8 10.8978 7.84196 11.2794 7.56066 11.5607C7.27936 11.842 6.89782 12 6.5 12ZM12 3C9.61305 3 7.32387 3.94821 5.63604 5.63604C3.94821 7.32387 3 9.61305 3 12C3 14.3869 3.94821 16.6761 5.63604 18.364C7.32387 20.0518 9.61305 21 12 21C12.3978 21 12.7794 20.842 13.0607 20.5607C13.342 20.2794 13.5 19.8978 13.5 19.5C13.5 19.11 13.35 18.76 13.11 18.5C12.88 18.23 12.73 17.88 12.73 17.5C12.73 17.1022 12.888 16.7206 13.1693 16.4393C13.4506 16.158 13.8322 16 14.23 16H16C17.3261 16 18.5979 15.4732 19.5355 14.5355C20.4732 13.5979 21 12.3261 21 11C21 6.58 16.97 3 12 3Z" fill="white"/></svg>');
    background-color: #7F3406;
    width: 10%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    padding: 0.5em;
    border-bottom-right-radius: 20px;
}

.clickeurs article.av::before {
    content: url('data:image/svg+xml,<svg width="26" height="26" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M11.5 4H4.5C3.70435 4 2.94129 4.31607 2.37868 4.87868C1.81607 5.44129 1.5 6.20435 1.5 7V13C1.5 13.7956 1.81607 14.5587 2.37868 15.1213C2.94129 15.6839 3.70435 16 4.5 16H11.5C12.2956 16 13.0587 15.6839 13.6213 15.1213C14.1839 14.5587 14.5 13.7956 14.5 13V7C14.5 6.20435 14.1839 5.44129 13.6213 4.87868C13.0587 4.31607 12.2956 4 11.5 4ZM3.5 7C3.5 6.73478 3.60536 6.48043 3.79289 6.29289C3.98043 6.10536 4.23478 6 4.5 6H11.5C11.7652 6 12.0196 6.10536 12.2071 6.29289C12.3946 6.48043 12.5 6.73478 12.5 7V13C12.5 13.2652 12.3946 13.5196 12.2071 13.7071C12.0196 13.8946 11.7652 14 11.5 14H4.5C4.23478 14 3.98043 13.8946 3.79289 13.7071C3.60536 13.5196 3.5 13.2652 3.5 13V7Z" fill="white"/><path fill-rule="evenodd" clip-rule="evenodd" d="M16.934 5.17599L13.466 7.55699C13.3335 7.64796 13.2249 7.76953 13.1493 7.9114C13.0738 8.05327 13.0336 8.21127 13.032 8.37199L13 11.587C12.9985 11.7509 13.0372 11.9127 13.1129 12.0582C13.1886 12.2036 13.2989 12.3282 13.434 12.421L16.934 14.824C17.0842 14.9271 17.2596 14.9872 17.4414 14.9979C17.6233 15.0085 17.8045 14.9694 17.9657 14.8846C18.1269 14.7997 18.2618 14.6725 18.356 14.5166C18.4502 14.3608 18.5 14.1821 18.5 14V5.99999C18.5 5.81787 18.4502 5.63922 18.356 5.48334C18.2618 5.32745 18.1269 5.20024 17.9657 5.11543C17.8045 5.03062 17.6233 4.99144 17.4414 5.00212C17.2596 5.01279 17.0842 5.07291 16.934 5.17599ZM16.5 12.1L15.005 11.074L15.027 8.91099L16.5 7.89999V12.1Z" fill="white"/></svg>');
    background-color: #7F3406;
    width: 10%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    padding: 0.5em;
    border-bottom-right-radius: 20px;
}

.clickeurs article h2 {
    font-family: "JetBrains Mono", monospace;
    font-size: 1.2rem;
    margin-top: 0.2vh;
    margin-bottom: 0.5vh;
}

.clickeurs article p {
    margin: 0;
    font-family: "Istok Web", sans-serif;
}


/* ---------------------------------
    ---------------------------------
    EQUIPE
    ---------------------------------
    ---------------------------------
*/

.equipe {
    height: 70vh;
    position: relative;
}

.equipe img {
    width: 70%;
    height: 100%;
    object-fit: cover;
    object-position: 0% 20%;
    z-index: -1;
}

.equipe p {
    position: absolute;
    background-color: #faf4f0;
    right: 0;
    z-index: 1;
    top: 0;
    width: 35vw;
    height: 100%;
    margin-top: 0;
    font-family: "Istok Web", sans-serif;
    padding-left: 2vw;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    border-top: #7F3406 2px solid;
}

.equipe a {
    color: #000;
    text-decoration: none;
    font-family: "Istok Web", sans-serif;
    font-size: 1.2rem;
}

.equipe a:hover {
    color: #B24908;
}

/* ---------------------------------
    ---------------------------------
    FOOTER
    ---------------------------------
    ---------------------------------
*/

footer {
    background-color: #190A01;
    color: #fff;
    padding: 1rem;
    position: relative;
    display: flex;
    justify-content: space-between;
    font-family: "JetBrains Mono", monospace;
    padding-right: 3vw;
    align-items: center;
    z-index: 2;
}

footer h5 {
    margin: 0.5vh;
}

footer .infos {
    display: flex;
    gap: 5vw;
}

footer .reseaux {
    display: flex;
    gap: 2vw;
}

footer .reseaux a:hover {
    opacity: 0.7;
}

footer #footer_logo {
    height: 10%;
    width: 5%;
}