/* ---------------------------------
    ---------------------------------
    HEADER
    ---------------------------------
    ---------------------------------
*/

header {
    background-color: #190A01;
    color: #fff;
    padding: 1rem;
    text-align: center;
    position: relative;
}

header nav ul {
    display: flex;
    justify-content: flex-end;
    list-style: none;
    gap: 5vw;
    padding-right: 3vw;
}

header nav ul li a {
    font-family: "JetBrains Mono", monospace;
    color: #fff;
    text-decoration: none;
    font-size: 1.1rem;
}

header nav ul li a::after {
    content: "";
    display: block;
    width: 0;
    height: 2px;
    background-color: #E55E0A;
    transition: width 0.3s;
}

header nav ul li a:hover::after {
    width: 100%;
}

header img {
    position: absolute;
    height: 70%;
    top: 0;
    left: 2vw;
    transform: translateY(20%);
}

/* ---------------------------------
    ---------------------------------
    MAIN
    ---------------------------------
    ---------------------------------
*/

h1  {
    display: inline-block;
    font-family: "JetBrains Mono", monospace;
    font-size: 50px;
    font-weight: bold;
    margin: 20px 80px;
    border-bottom: #E55E0A 5px solid;

}

.videointeractive {
    margin: 50px 120px;
}

.videointeractive p {
    font-family: "istok Web", sans-serif;
    font-weight: 400;
    font-size: 20px;
    margin: 50px 0;
}

/* ---------------------------------
    ---------------------------------
    FOOTER
    ---------------------------------
    ---------------------------------
*/

footer {
    background-color: #190A01;
    color: #fff;
    padding: 1rem;
    position: relative;
    display: flex;
    justify-content: space-between;
    font-family: "JetBrains Mono", monospace;
    padding-right: 3vw;
    align-items: center;
}

footer h5 {
    margin: 0.5vh;
}

footer .infos {
    display: flex;
    gap: 5vw;
}

footer .reseaux {
    display: flex;
    gap: 2vw;
}

footer .reseaux a:hover {
    opacity: 0.7;
}

footer #footer_logo {
    height: 10%;
    width: 5%;
}